<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<link href="../css/comment.css" rel="stylesheet">

<div th:unless="${userDto == null}" class="container mt-5 mb-5">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <div id="comments" class="card">
                <div class="p-3">
                    <h6>Comments</h6>
                </div>
                <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                    <img th:src="@{/image/{id}(id=${userDto.getPicture().getId()})}" width="50px" class="rounded-circle mr-2">
                    <form th:method="post"
                          th:action="@{/wedding/{id}(id=${wedding.getId()})}">
                        <span><input type="text" name="text" class="form-control" placeholder="Enter your comment..."></span>
                        <span display="inline"><button  class="btn btn-outline-info" type="submit">Post</button></span>
                    </form>
                </div>
                <div th:each="comment : ${comments}" class="mt-2">
                    <div class="d-flex flex-row p-3">
                        <img th:src="@{/image/{id}(id=${comment.getCreator().getPicture().getId()})}" width="40" height="40" class="rounded-circle mr-3">
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex flex-row align-items-center">
                                    <span th:text="*{comment.getCreator().getUserName()}" class="mr-2"></span>
                                </div>
                                <small th:text="*{comment.getCreated()}"></small>
                            </div>
                            <p th:text="${comment.getText()}" class="text-justify comment-text mb-0"></p>
                            <div th:if="${comment.getCreator().getUsername().equals(userDto.getUsername())}">
                                <div th:id="${comment.getId()}" class="d-flex flex-row user-feed">
                                    <form th:method="DELETE" th:action="@{/comment/{id}(id=${comment.getId()})}">
<!--                                        <button class="edit-btn btn btn-default btn-sm btn-info">-->
<!--                                            <span class=" glyphicon glyphicon-edit"></span> Edit-->
<!--                                        </button>-->
                                        <button type="submit"  class="delete-btn btn btn-default btn-sm btn-warning">
                                            <span class=" glyphicon glyphicon-edit"></span> Delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/comments.js"></script>