<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div  class="container-fluid py-5" id="family">
    <div class="container pt-5 pb-3">
            <div  class="row portfolio-container">
                <div th:each="user: ${allUsers}"  class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <a th:href="@{/user/{username}(username=${user.username})}">
                    <div class="position-relative mb-2">
                        <img th:if="${user.getPicture() != null}" class="img-fluid w-100" th:src="@{/image/{id}(id=${user.getPicture().getId()})}" alt="">
                        <img th:unless="${user.getPicture() != null}" class="img-fluid w-100" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">

                        <div class="bg-secondary text-center p-4">
                            <h4 class="mb-3">
                                <span th:text="${user.getFirstName()}"></span>
                                <span th:text="${user.getLastName()}"></span>
                            </h4>
                            <p th:text="${user.getEmail()}" class="text-uppercase"></p>
                            <div class="d-inline-block">
                                <button type="submit" >Add as Friend</button>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
    </div>
</div>
</html>