<div  class="container-fluid py-5" id="family">
    <div class="container pt-5 pb-3">
            <div  class="row portfolio-container">
                <div th:each="user: ${allUsers}"  class="col-lg-4 col-md-6 mb-4 portfolio-item first">
                    <a th:href="@{/user/{username}(username=${user.username})}">
                    <div class="position-relative mb-2">
                        <img class="img-fluid w-100" th:src="@{/image/{id}(id=${user.picture.getId()})}" alt="">
                        <div class="bg-secondary text-center p-4">
                            <h4 th:text="${user.firstName} + ${user.lastName}" class="mb-3"></h4>
                            <p th:text="${user.email}" class="text-uppercase"></p>
                            <div class="d-inline-block">
                                <button type="submit" >Add as Friend</button>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
    </div>
</div>