<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div  class="container-fluid py-5" id="family">
    <div class="container pt-5 pb-3">
            <div  class="row portfolio-container">
                    <div th:each="user: ${userDTOs}"  class="col-lg-2 col-md-4 mb-4 portfolio-item first">

                        <div class="position-relative mb-3">
                            <a th:href="@{/user/{username}(username=${user.username})}">
                                <img th:if="${user.getPicture() != null}" class="img-fluid w-100" th:src="@{/image/{id}(id=${user.getPicture().getId()})}" alt="">
                                <img th:unless="${user.getPicture() != null}" class="img-fluid w-100" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                            </a>
                            <div class="bg-secondary text-center p-4">
                                <h4 class="mb-3">
                                    <span th:text="${user.getFirstName()}"></span>
                                    <span th:text="${user.getLastName()}"></span>
                                </h4>
                                <p th:text="${user.getEmail()}" class="text-uppercase"></p>
                                <div class="d-inline-block">
                                    <a th:href="@{/user/add/{username}(username=${user.username})}">
                                        <button>Add as Friend</button>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
    </div>
</div>
</html>