<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" type="text/css" href="../css/contact/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/contact/main.css">
    <th:block th:insert="~{/fragments/head}"></th:block>
<body>
<th:block th:insert="~{/fragments/header}"></th:block>

<div class=" container-contact100">
    <div class="wrap-contact100">
        <form class="contact100-form validate-form top-padding" th:method="POST" th:action="@{/contact-us}" th:object="${massageDTO}">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <span class="contact100-form-title">Send Us A Message</span>
            <div class="wrap-input100 validate-input" data-validate="Please enter your name">
                <input th:unless="${isLogged}" th:field="*{fullName}" class="input100" type="text" name="fullName" placeholder="Full Name" required>
                <input th:if="${isLogged}" th:field="*{fullName}" class="input100" type="text" name="fullName"  required>
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Please enter your email: e@a.x">
                <input th:unless="${isLogged}" th:field="*{email}" class="input100" type="text" name="email" placeholder="E-mail" required>
                <input th:if="${isLogged}" th:field="*{email}" class="input100" type="text" name="email" required>

                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Please enter your phone">
                <input class="input100" th:field="*{title}" type="text" name="title" placeholder="Title" required>
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Please enter your message">
                <textarea class="input100" th:field="*{text}" minlength="5" maxlength="250" name="message" placeholder="Your Message" required></textarea>
                <span class="focus-input100"></span>
            </div>
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn"><span>Send</span></button>
            </div>
        </form>
    </div>
    <th:block th:insert="~{/fragments/footer}"></th:block>
    <th:block th:insert="~{/fragments/scripts}"></th:block>
</div>
</body>
</html>