<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Wedding Book</title>
    <th:block th:insert="~{/fragments/head}"></th:block>
</head>
<body>
<th:block th:insert="~{/fragments/header}"></th:block>

<th:block th:insert="~{/fragments/gallery}"></th:block>

<th:block th:insert="~{/story}"></th:block>

<div class="section-title position-relative text-center">
    <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Friends & Family</h6>
    <h1 class="font-secondary display-4">Groomsmen & Bridesmaid</h1>
    <i class="far fa-heart text-dark"></i>
</div>
<th:block th:insert="~{/fragments/usersFrag}"></th:block>

<th:block th:insert="~{/fragments/footer}"></th:block>
<th:block th:insert="~{/fragments/scripts}"></th:block>

</body>