<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Wedding Book</title>
    <th:block th:insert="~{/fragments/head}"></th:block>
</head>
<body>
<th:block th:insert="~{/fragments/header}"></th:block>

<th:block th:insert="~{/fragments/restaurantFrag}"></th:block>

<th:block th:insert="~{/fragments/footer}"></th:block>
<th:block th:insert="~{/fragments/scripts}"></th:block>

</body>