<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">


    <title>bs4 beta profile and timeline - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

    <th:block th:insert="~{/fragments/head}"></th:block>

</head>
<body>
<th:block th:insert="~{/fragments/header}"></th:block>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="content social-timeline">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="social-wallpaper">
                                    <div class="profile-hvr">
                                        <i class="icofont icofont-ui-edit p-r-10"></i>
                                        <i class="icofont icofont-ui-delete"></i>
                                    </div>
                                </div>
                                <div class="timeline-btn">
                                    <a href="#" class="btn btn-primary waves-effect waves-light m-r-10">follows</a>
                                    <a href="#" class="btn btn-primary waves-effect waves-light">Send Message</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4 col-md-4 col-xs-12">
                                <div class="social-timeline-left">
                                    <div class="card">
                                        <div class="social-profile">
                                            <img class="img-fluid width-100" th:if="${user.getPicture() !=null } " th:src="@{/image/{id}(id=${user.getPicture().getId()})}" alt="">
                                            <img class="img-fluid width-100" th:unless="${user.getPicture() != null } " src="https://bootdey.com/img/Content/avatar/avatar7.png ">
                                            <div class="profile-hvr m-t-15">
                                                <i class="icofont icofont-ui-edit p-r-10"></i>
                                                <i class="icofont icofont-ui-delete"></i>
                                            </div>
                                        </div>
                                        <div class="card-block social-follower">
                                            <h4 th:text="*{user.getUserName()}"></h4>
                                            <h5 th:text="${user.getEmail()}"></h5>
                                            <div class="row follower-counter">
                                                <div class="col-4">
                                                    <button class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="485">
                                                        <i class="fa fa-user"></i>
                                                    </button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-danger btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="2k">
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                    </button>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-success btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="90">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="">
                                                <button type="button" class="btn btn-outline-primary waves-effect btn-block"><i class="icofont icofont-ui-user m-r-10"></i> Add as Friend</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-8 col-md-8 col-xs-12 ">
                                <div class="card social-tabs">
                                    <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
                                            <div class="slide"></div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#about" role="tab">About</a>
                                            <div class="slide"></div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#photos" role="tab">Photos</a>
                                            <div class="slide"></div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#friends" role="tab">Weddings</a>
                                            <div class="slide"></div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="timeline">
                                        <div class="row">
                                            <div class="col-md-12 timeline-dot">
                                                <div class="social-timelines p-relative">
                                                    <div class="row timeline-right p-t-35" th:each="w : ${weddings}">
                                                        <div class="col-2 col-sm-2 col-xl-1">
                                                            <div class="social-timelines-left">
<!--                                                                <img class="img-radius timeline-icon" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">-->
                                                                <img class="img-radius timeline-icon" th:if="${user !=null } " th:src="@{/image/{id}(id=${user.picture.getId()})}" alt="">
                                                                <img class="img-radius timeline-icon" th:unless="${user != null } " src="https://bootdey.com/img/Content/avatar/avatar7.png ">
                                                            </div>
                                                        </div>
                                                        <div class="col-10 col-sm-10 col-xl-11 p-l-5 p-b-35">
                                                            <div class="card">
                                                                <div class="card-block post-timelines">
                                                                    <span class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="tooltip"></span>
                                                                    <div class="chat-header f-w-600">
                                                                        <span th:text="*{user.getFirstName()}"> </span>
                                                                        <span th:text="*{user.getLastName()}"></span> posted on timeline</div>
                                                                    <div class="social-time text-muted" th:text="*{w.getWeddingDate()}"></div>
                                                                </div>
                                                                <img th:if="${weddingPic != null }" th:src="@{/image/{id}(id=${weddingPic})}" class="img-fluid width-100" alt="">
                                                                <img th:unless="${weddingPic != null}" class="img-fluid width-100" src="https://thestarsinside.com/wp-content/uploads/2020/04/Luxury-Wedding-and-Elopement-Planner-in-the-UK-2-2048x1365.jpg ">

                                                                <div class="card-block">
                                                                    <div class="timeline-details">
                                                                        <div class="chat-header"><span th:text="*{user.getFirstName()}"></span>
                                                                            <span th:text="*{user.getLastName()}"></span> posted on timeline</div>
<!--                                                                        <p class="text-muted">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>-->
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="about">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-header-text">Basic Information</h5>
                                                        <button id="edit-btn" type="button" class="btn btn-primary waves-effect waves-light f-right">
                                                            <i class="icofont icofont-edit"></i>
                                                        </button>
                                                    </div>
                                                    <div class="card-block">
                                                        <div id="view-info" class="row">
                                                            <div class="col-lg-6 col-md-12">
                                                                    <table class="table table-responsive m-b-0">
                                                                        <tbody>
                                                                        <tr>
                                                                            <th class="social-label b-none p-t-0">Username</th>
                                                                            <td th:text="*{user.username}" class="social-user-name b-none p-t-0 text-muted"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="social-label b-none p-t-0">First name
                                                                            </th>
                                                                            <td th:text="*{user.firstName}" class="social-user-name b-none p-t-0 text-muted"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="social-label b-none p-t-0">Middle name
                                                                            </th>
                                                                            <td th:text="*{user.middleName}"  class="social-user-name b-none p-t-0 text-muted"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="social-label b-none p-t-0">Last name
                                                                            </th>
                                                                            <td th:text="*{user.lastName}" class="social-user-name b-none p-t-0 text-muted"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="social-label b-none p-t-0">Email
                                                                            </th>
                                                                            <td th:text="*{user.email}" class="social-user-name b-none p-t-0 text-muted"></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <th class="social-label b-none p-t-0">Address
                                                                            </th>
                                                                            <td th:text="*{user.address}" class="social-user-name b-none p-t-0 text-muted"></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="photos">
                                        <th:block th:insert="~{/fragments/allWeddings}"></th:block>
                                    </div>
                                    <div class="tab-pane" id="friends">
                                        <th:block th:insert="~{/fragments/usersFrag}"></th:block>
                                    </div>

                                    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
                                    <script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
                                    <script type="text/javascript">
                                    </script>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<th:block th:insert="~{/fragments/footer}"></th:block>
<th:block th:insert="~{/fragments/scripts}"></th:block>
</body>
</html>